# Credenciales y Variables de Entorno (¡MUY IMPORTANTE!)
.env

# Jupyter Notebook y Checkpoints
.ipynb_checkpoints/
*/.ipynb_checkpoints/

# Python caching y artefactos
__pycache__/
*.py[cod]
*$py.class
*.so

# Entornos virtuales
venv/
.venv/
env/
ENV/

# Archivos propios del Sistema Operativo
.DS_Store
Thumbs.db

# Archivos masivos de Big Data
data/raw/
data/processed/
data/interim/
